body { 
    display: flex;
    margin: 0;
}

h1 {
    margin: 0;
    padding: 40px;
    color: #1c1c1c;
    text-align: center;
    width: 100%;
}

div.content {
    flex: 1;
    padding: 80px;
    background: #f9f9f9;
}

h2 .stock-alert {
    color: #1c1c1c;
    font-size: 20px;
    margin: 0;
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.sidebar { width: 200px; background: #333; color: #fff; padding: 20px; height: 100vh; }
.sidebar h2 { color: #fff; }
.sidebar button { display: block; width: 100%; padding: 10px; margin-top: 10px; background: #444; color: white; border: none; cursor: pointer; }
.sidebar button:hover { background: #555; }
.content { flex: 1; padding: 20px; }

div.stats { 
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin-bottom: 85px;
    align-items: center;
}

.card {
    padding: 20px;
    background: #eceaea52;
    border-radius: 3px;
    align-items: center;
}


ul { list-style: none; padding: 0; }
form { margin-top: 20px; }
input { padding: 10px; margin-right: 10px; }


button { padding: 10px; background: #007bff; color: white; border: none; cursor: pointer; }
button:hover { background: #0056b3; }